*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.container-1{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 50px 1fr auto;
}
.header{
    grid-column: 3 / -1;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    position: relative;
}
.img-content{
    position:absolute;
    top: 50px;
    right: 20px;
    background-color: rgb(240, 240, 240);
    display: none;
    /* padding:15px; */
    /* opacity: 1; */
}
.img-content li{
    padding: 8px 18px;
}
.img-content li:hover{
    background-color: #ddd;
}
.content{
    grid-column: 3/-1;
    /* display: flex; */
}
.menu{
    grid-column: 1/3;
    grid-row: 1/3;
    color: white;
}

.container-1 > div:nth-child(1n){
    background-color: rgba(165, 174, 182, 0.11);
}
.container-1 > div:nth-child(2n){
    background-color: rgb(96, 158, 230);
}
.container-1 > div:nth-child(3n){
    background-color: rgb(235, 235, 235);
}
.menu li{
    padding: 17px;
}

.menu ul li a{
    color: rgb(253, 253, 253);
    padding: 20px 10px;
    font-size: 1rem;
    text-decoration: none;
}
.menu ul li:hover{
    background-color: rgb(23, 127, 187);
    /* text-decoration: none; */
}
body{
    background-color: red;
}
img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.card{
    height: 150px;
    margin-left: 30px;
    margin-top: 20px;
}
.card > i {
    padding-right: 15px; 
    font-size: 3rem; 
    text-align: right; 
    margin-top: 40px;
    color: #fff;
}
.card p{
    font-size: 1.1rem;
    /* margin-top: -90px; */
    margin-left: 50px;
}
.card span{
    font-size: 2.5rem;
    margin-top: -90px;
    margin-left: 50px;
}
.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.add_user{
    border:1px solid black;
}
div >h2{
    margin-left: 200px;
    margin-bottom: 30px;
}
div>input #select-type{
    max-width: 500px;
}


.tables{
	border-collapse: collapse;
  	min-width: 70%;
  	background-color: white;
  	margin: 60px 350px;
}
.tables td{
	border-bottom: 1px solid #ddd;
  	padding: 15px;
  	margin: 15px;
}

.tables th {
  border-bottom: 1px solid #ddd;
  padding: 12px 15px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}
.img-content a{
    color: black;
}

.img-content a:hover{
    text-decoration: none;
    color: black;
}
.changePassword{
	width: 60%;
	position: absolute;
	left: 40%;
	top: 10%;
}
.changePassword #currentPass,#newPass,#retypePass{
	min-width: 40%;
	padding: 4px 1px;
	margin: 6px 0px;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid black;
    font-size: .9rem;
}

.container{
    margin-top: 100px;
}

#search{
	width:60%;
	background-color: black;
	margin-left: 200px;
    margin-top: -150px;
}
#search #src-input{
  width: 88%;
  margin: 4px 25px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 6px;
  font-size: 1rem;
}
/* #search button{
	padding: 9px 20px;
	font-size: 1.1rem;
	border-radius: 4px;
	background-color: #fd9460;
	border: none;
	color: white;
} */
/* #search button:hover{
	background-color: #ff7c3c;
} */

.bi{
    position: fixed;
    margin-left: 530px;
    cursor: pointer;
    bottom: 290px;
}
.validation{
    background-color: rgba(252, 177, 218, 0.979);
    /* color: #fff; */
    width: 600px;
    margin-left: 200px;
    margin-bottom: 600px;
    margin-top: 20px;
    text-align: center;
    /* border: 2px solid rgba(240, 51, 155, 0.979); */
    border-radius: 5px;
    /* padding: 15px; */
}
.msg{
    padding: 2px;
}
.content-flex{
    display: flex;
}

.block-msg{
    color: #fff;
    background-color: rgb(140, 209, 186);
    width: 600px;
    margin-left: 200px;
    /* margin-bottom: 600px; */
    margin-top: 20px;
    text-align: center;
    /* border: 2px solid rgba(240, 51, 155, 0.979); */
    border-radius: 5px;
    font-size: 1rem;
}
.report-msg{
    color: #fff;
    background-color: rgb(235, 103, 169);
    width: 600px;
    margin-left: 200px;
    /* margin-bottom: 600px; */
    margin-top: 20px;
    text-align: center;
    /* border: 2px solid rgba(240, 51, 155, 0.979); */
    border-radius: 5px;
    font-size: 1rem;
}

.alert{
    display: none;
}

.thead{
    background-color: rgb(165, 225, 243);
    color: rgb(90, 90, 90);
}